form.custom-form .disabled label {
	color: gray;
}

form .control {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

form .control.select .current {
	width: 100%;
	padding: 0 27px 0 5px;
	height: 23px;
	border: 1px solid #aaa;
	background: #fff url("/images/form-select-button.png") no-repeat 100% 0;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

form .has-errors .control.select .current {
	border-color: #AD2668;
}

form .control.select .current .text {
	width: 100%;
	display: inline-block;
	margin: 0;
	line-height: 21px;
	white-space: nowrap;
	overflow: hidden;
}

form .control.select ul {
	position: absolute;
	min-width: 100%;
	max-height: 288px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	background: #fff;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

form .control.select ul li {
	white-space: nowrap;
	padding: 2px 5px 2px 5px;
	cursor: default;
}

form .control.select ul li:hover {
	background: #be1d69;
	color: #fff;
}

form .control.text {
	border: 1px solid #909090;
	padding: 2px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

form .has-errors .control.text {
	border-color: #AD2668;
}

form .control.text textarea {
	border: none;
	outline: 0;
	background: transparent none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	resize: none;
}

form .control.input {
	border: 1px solid #909090;
	padding: 2px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

form .has-errors .control.input {
	border-color: #AD2668;
}

form .control.input input {
	display: block;
	border: none;
	outline: 0;
	background: transparent none;
	width: 100%;
	margin: 0;
	padding: 4px 0;
}

form .control.radio {
	width: 17px;
	height: 17px;
	background: transparent url("/images/forms/radio.png") no-repeat 0 0;
}

form .control.radio.checked {
	background-position: 0 -17px;
}

form .disabled .control.radio {
	background-position: 0 -34px;
}

form .disabled .control.radio.checked {
	background-position: 0 -51px;
}

form .control.checkbox {
	width: 17px;
	height: 17px;
	background: transparent url("/images/forms/checkbox.png") no-repeat 0 0;
}

form .control.checkbox.checked {
	background-position: 0 -17px;
}

form .disabled .control.checkbox {
	background-position: 0 -34px;
}

form .disabled .control.checkbox.checked {
	background-position: 0 -51px;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}