form {}

form fieldset {
	border: 1px solid gray;
	margin: 0 0 10px 0;
	padding: 10px;
}

form legend {
	padding: 0px 5px;
}

form fieldset .row {
	margin-left: 5px;
	margin-right: 5px;
}

form .row {
	margin: 0 0 10px 0;
}
